/**=====================
     51. Search CSS Start
==========================**/
.search-page {
  .search-form {
    input {
      background-position: 99%;
      &:focus {
        outline: none;
      }
    }
  }
  .nav-link {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px !important;
  }
  .borderb-tab-primary {
    margin-bottom: 30px;
  }
  .info-block {
    + .info-block {
      padding-top: 30px;
      border-top: 1px solid $light-color;
      margin-top: 30px;
    }
  }
  .search-links {
    h6 {
      margin-bottom: 0;
    }
  }
  p {
    text-transform: lowercase;
    margin-bottom: 0;
    color: $gray-60;
  }
  ul.search-info {
    li {
      display: inline-block;
      font-size: 12px;
      line-height: 1;
      color: #586082;
      + li {
        border-left: 1px solid lighten($dark-color, 50%);
        padding-left: 8px;
        margin-left: 8px;
      }
      i {
        color: $warning-color;
      }
    }
  }
  #video-links {
    .embed-responsive + .embed-responsive {
      margin-top: 30px;
    }
  }
}
/**=====================
    51. Search CSS Ends
==========================**/



// gobal filter
.tableSearchBox{
  input{
    background-color: $dark-card-background;
    border: 1px solid $dark-border-200;
    color: $theme-body-font-color;
    font-size: 14px;
    &::placeholder{
      color: $theme-body-font-color;
      font-size: 14px;
    }
  }
}
.form-control{
  background-color: $dark-card-background;
  border: 1px solid $dark-border-200;
  color: $theme-body-font-color;
  font-size: 14px;
}
.form-group{
  input{
    background-color: $dark-card-background !important;
    border: 1px solid $dark-border-200 !important;
    color: $theme-body-font-color;
    font-size: 14px !important;
    width: 100%;
    padding: 6px 10px;
    border-radius: 3px;
    &:focus{
      border: 1px solid $primary-color !important;
      outline: none;
    }
    &::placeholder{
      color: $theme-body-font-color;
      font-size: 14px;
      opacity: 0.5;
    }
  }
}
.form-group label{
  color: $theme-body-font-color;
}
.form-group{
  margin-bottom: 0 !important;
}
.fromSelect{
  input{
    border: none !important;
    background-color: transparent !important;
  }
}
.Toastify__toast-container{
  z-index: 10000000;
}

.textColor{
  color: $theme-body-font-color;
}
